<!-- h-100: make sure each card is as high as the highest card in the row  -->
<div class="card h-100" *ngIf="parsed">
  <div class="card-body">
    <h5 class="card-title">Value in Different Units (factor 1000)</h5>
    <small class="text-muted">Decimal value is used here as base.</small>
    <div class="table-responsive">
      <table class="table table-striped mb-0 mt-1">
        <tbody>
          <tr title="{{ parsed.signedNumericValue.toString() }} in Kilobytes">
            <td>Kilo</td>
            <td class="text-primary">
              <mono>{{ output.kilo }}</mono>
            </td>
          </tr>
          <tr title="{{ parsed.signedNumericValue.toString() }} in Megabytes">
            <td>Mega</td>
            <td class="text-primary">
              <mono>{{ output.mega }}</mono>
            </td>
          </tr>
          <tr title="{{ parsed.signedNumericValue.toString() }} in Gigabytes">
            <td>Giga</td>
            <td class="text-primary">
              <mono>{{ output.giga }}</mono>
            </td>
          </tr>
          <tr title="{{ parsed.signedNumericValue.toString() }} in Terabytes">
            <td>Tera</td>
            <td class="text-primary">
              <mono>{{ output.tera }}</mono>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
